#header {
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.05);
	border-bottom:1px solid #DDDDDD;
	background-color:#002747;
	color:white;
	font-size:20px;
	min-height:45px;
	width:100%;
	top:0px;
	z-index:3;
	
}
#header table {
	margin-bottom:8px ;
	margin-top:8px ;
	width:100%;
}

#header td {
	text-align:center;
}
#logo img{
	height:20px;
}
#logo {
	padding-top:10px;
}
.selected {
	color:white !important;

}
.usr {
	float:right;
	margin-top:-27px;
	margin-right:6px;
}
/*#itm {
	width:98%;
	margin:auto;
}
#logo img{
	height:20px;
}
#logo {
	padding-top:10px;
}
#logo,#menu {
	display:inline-block;
}

#menu {
	padding-top:5px;
	float:right;
}
#header li {
	margin-right:10px;
	display:inline-block;
	position:relative;
	width:30px;
}
#header ul {
	padding:0;
	margin-bottom:0;
}
#header a {
	color:white;
}
#mnu {
	font-size:12px;
	position:fixed;
	right:1px;
	top:44px;
	background-color:#333;
	color:white;
	min-width:200px;
	font-size:18px;
	z-index:3;
    box-shadow: 0 8px 6px -6px black;
}
table {
	margin-bottom:1px !important;
	border:0 !important;
}
#langmnu {
	background-color:#1a1a1a;
}
.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    //padding: 14px;
}
*/
