@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css); 
body {
	font-family: 'Droid Arabic Kufi', sans-serif; 
}
#wrapper {

}
.inp {
	//background-color:#002747;
	background-color:#006CC2;
}
.fl {
	width:100%;
}

#wrapper {
	margin-top:16px;
	
}
select {
	height:auto !important;
}
input[type="text"],input[type="password"] {
	height:41px;
	padding:6px 12px;
}
