@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css); 
body {
	font-family: 'Droid Arabic Kufi', sans-serif; 
}
.inp {
	background-color:#002747;
}
.fl {
	width:100%;
}

#wrapper {
	margin-top:20px;
}
