@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css); 
body {
	font-family: 'Droid Arabic Kufi', sans-serif; 
}
#wrapper {

}
.inp {
	background-color:#002747;
}
.fl {
	width:100%;
}

#wrapper {
	margin-top:16px;
	
}
select {
	height:auto !important;
}
