.retailElem {
	border-radius:3px;
	padding:5px;
	margin-bottom:3px;
	display:block;
	clear:both;
	overflow:hidden;
	position:relative;
}
.searchData {
	position:relative;
}
p {
	float:right;
	margin-right:6px;
	color:black;
}
.imgSide {
	float:right;
	width:60px;
	height:60px;
	border-radius:5px;
}
#addSearch {
	background-color:#006CC9;
	border-radius:3px;
	padding:10px;
	position:relative;
}
#addSearch .panel-body {
	color:#006CC9;
	font-size:20px;
}
#addSearch .panel {
	margin-bottom:0px;
}
#addSearch span {
	margin-left:8px;
}
#addSearch a {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.pagin b {
	padding-left:30px;
	padding-right:30px;
}
.menuSearchDiv {
	background-color:white;
}
.menuSearch {	
	background-color:#006CC9;
	
}
.hideSearchDiv {
	display:none;
}
